@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor01: #CFFF8D;
    --cor02: #749F82;
}

header {
    background-color: var(--cor01);
    height: 30vh;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 40px;
}

header section {
    position: relative;
    top: 30%;
}

section input {
    display: block;
    background-color: var(--cor02);
    color: white;
    width: 99%;
    margin: 10px auto;
    font-size: 1.2em;
    font-weight: bold;
    padding: 10px;
    cursor: pointer;
    border: 1px solid var(--cor02);
    border-radius: 15px;
}

section iframe {
    display: none;
    width: 99%;
    margin: auto;
    height: 475px;
}

section iframe#tema01 {
    height: 595px;
}

section iframe#tema02 {
    height: 440px;
}

section iframe#tema03 {
    height: 505px;
}

section iframe#tema04 {
    height: 625px;
}

section input[desktop], iframe[desktop] {
    /*background-color: skyblue;*/
    display: none;
}